MONGO_URI=mongodb+srv://bacigaluppipili_db_user:Ia10Jh6usgG2NYqU@cluster-entrega1.yoinnhu.mongodb.net/bookstore?retryWrites=true&w=majority&appName=Cluster-entrega1
DB_USER=bacigaluppipili_db_user
DB_PASSWORD=Ia10Jh6usgG2NYqU
DB_CLUSTER=cluster-entrega1.yoinnhu.mongodb.net
DB_NAME=bookstore
DB_APP_NAME=Cluster-entrega1
